<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste utilisateur{% endblock %}</title>
        {% block stylesheets %}<link href=" https://bootswatch.com/4/superhero/bootstrap.min.css " rel="stylesheet">{% endblock %}

    </head>
    <body>
	<div id="after_submit"></div>
	
	{% for item in ListeUtilisateurs %}
<tr>
<td> {{ item.id }} </td>
<td> {{ item.Nom }}  </td>
<td> {{ item.Prénom }}  </td>
<td> {{ item.motdepasse }}  </td>
</tr>
{% endfor %}
	</body>
</html>
