<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste fichier{% endblock %}</title>
        {% block stylesheets %}<link href=" https://bootswatch.com/4/superhero/bootstrap.min.css " rel="stylesheet">{% endblock %}

    </head>
    <body>
	<div id="after_submit"></div>
	
	{% for item in ListeFichier %}
<tr>
<td> {{ item.Document}} </td> 
</tr>
{% endfor %}
	</body>
</html>
