
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Création utilisateur{% endblock %}</title>
        {% block stylesheets %}<link href=" https://bootswatch.com/4/superhero/bootstrap.min.css " rel="stylesheet">{% endblock %}
    </head>
    <body>
	<div id="after_submit"></div>
<form id="contact_form" action="/createUtilisateur" method="POST" enctype="multipart/form-data">
  <div class="row">
        <label class="required" for="Nom">ton nom:</label><br />
        <input id="Nom" class="input" name="Nom" type="text" value="" size="30" /><br />
        <span id="Nom_validation" class="error_message"></span>
  </div>
   <div class="row">
        <label class="required" for="prénom">ton prénom:</label><br />
        <input id="prénom" class="input" name="prénom" type="text" value="" size="30" /><br />
        <span id="prénom_validation" class="error_message"></span>
  </div>
   <div class="row">
        <label class="required" for="motdepasse">ta motdepasse:</label><br />
        <input id="motdepasse" class="input" name="motdepasse" type="text" value="" size="30" /><br />
        <span id="motdepasse_validation" class="error_message"></span>
  </div>
    <input id="submit_button" type="submit" value="Send " />
	</form>
	</body>
</html>